.App {
  text-align: center;
  min-height: 100%;
}

.inner-container {
  padding-bottom: 60px;
}

.App-btn {
  color: #61dafb;
  background-color: rgb(180, 70, 70);
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input + label {
  font-weight: bold;
  margin-right: 20px;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
  display: flex;
  width: 400px;
  padding: 6px 12px;
  margin: 10px 10px 10px auto;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
}

a.active {
  background-color: #04AA6D;
  color: white;
}